# see https://help.github.com/en/articles/about-code-owners#example-of-a-codeowners-file
* @pagopa/pagopa-backoffice-team @pagopa/selfcare-contributors @KevinSi96 @biaMurNtt @GiacomoBrancazi @GabrieleMaiocchiFilippo @kaiban
