<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Accepted bundle's subscription offer mail</title>
</head>

<body>
<img width="100" height="30"
     src="https://raw.githubusercontent.com/pagopa/pagopa-selfcare-ms-backoffice-backend/main/src/main/resources/templates/logo-pagopa.png">
<h1>La tua offerta di adesione al pacchetto è stata confermata</h1>
<p>
    Ciao,
</p>
<br/>
<p>
    la tua offerta di adesione al pacchetto <span th:text="${bundleName}" th:remove="tag"></span> è stata accettata.
</p>
<br/>
<p>
    Puoi gestire i tuoi pacchetti qui <a
        href="@{https://selfcare{env}.platform.pagopa.it/ui/comm-bundles(env=${environment})}">
    <span th:if="${environment == ''}">https://selfcare.platform.pagopa.it/ui/comm-bundles</span>
    <span th:if="${environment == '.uat'}">https://selfcare.uat.platform.pagopa.it/ui/comm-bundles</span>
    <span th:if="${environment == '.dev'}">https://selfcare.dev.platform.pagopa.it/ui/comm-bundles</span>
</a>.
<br/>
<p>
    A presto,
</p>
<p>
    Pagamenti pagoPA
</p>
<hr style="color:grey">
<p style="color:grey">
    Ricevi questo messaggio perchè hai un utenza attiva su Pagamenti pagoPA.
</p>

</body>
</html>