<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Created bundle's subscription offer mail</title>
</head>

<body>
<img width="100" height="30" src="https://raw.githubusercontent.com/pagopa/pagopa-selfcare-ms-backoffice-backend/main/src/main/resources/templates/logo-pagopa.png">
<h1>Nuova offerta di attivazione pacchetto commissionale</h1>
<p>
    Ciao,
</p>
<br/>
<p>
    c'è una nuova offerta di attivazione per il pacchetto commissionale <span th:text="${bundleName}" th:remove="tag"></span>.
</p>
<br/>
<p>
    Puoi vedere e gestire il pacchetto da qui <a
        href="https://selfcare.platform.pagopa.it/ui/comm-bundles">https://selfcare.platform.pagopa.it/ui/comm-bundles</a>.
</p>
<br/>
<p>
    A presto,
</p>
<p>
    Pagamenti pagoPA
</p>
<hr style="color:grey">
<p style="color:grey">
    Ricevi questo messaggio perchè hai un utenza attiva su Pagamenti pagoPA.
</p>

</body>
</html>