<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Delete bundle's mail</title>
</head>

<body>
<img width="100" height="30"
     src="https://raw.githubusercontent.com/pagopa/pagopa-selfcare-ms-backoffice-backend/main/src/main/resources/templates/logo-pagopa.png">
<h1>Eliminazione pacchetto commissionale</h1>
<p>
    Ciao,
</p>
<br/>
<p>
    <span th:text="${pspName}" th:remove="tag"></span> ha richiesto l'eliminazione del pacchetto <span
        th:text="${bundleName}" th:remove="tag"></span> che non sarà più visibile a partire dalla mezzanotte di domani.
    Se riscontri dei problemi, contatta l'ente.
</p>
<br/>
<p>
    Puoi gestire i tuoi pacchetti qui <a
        href="https://selfcare.platform.pagopa.it/ui/comm-bundles">https://selfcare.platform.pagopa.it/ui/comm-bundles</a>.
</p>
<br/>
<p>
    A presto,
</p>
<p>
    Pagamenti pagoPA
</p>
<hr style="color:grey">
<p style="color:grey">
    Ricevi questo messaggio perchè hai un utenza attiva su Pagamenti pagoPA.
</p>

</body>
</html>