<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Delete bundle's subscription mail</title>
</head>

<body>
<img src="https://portal.cgnonboardingportal.pagopa.it/logo-pagopa.5615426e.png">
<h1>Conferma rimozione da pacchetto</h1>
<p>
    Ciao,
</p>
<br/>
<p>
    sei stato rimosso dal pacchetto <span th:text="${bundleName}" th:remove="tag"></span>.
</p>
<br/>
<p>
    Se riscontri dei problemi, puoi richiedere maggiori dettagli utilizzando il canale di <a
        href="https://selfcare.pagopa.it/assistenza">assistenza</a>.
</p>
<br/>
<p>
    A presto,
</p>
<p>
    Back-office pagoPA
</p>
<hr style="color:grey">
<p style="color:grey">
    Ricevi questo messaggio perchè hai un utenza attiva nel Portale Bonus dell'ente.
</p>

</body>
</html>