<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Delete bundle's subscription mail</title>
</head>

<body>
<img width="100" height="30"
     src="https://raw.githubusercontent.com/pagopa/pagopa-selfcare-ms-backoffice-backend/main/src/main/resources/templates/logo-pagopa.png">
<h1>Richiesta di adesione rifiutata</h1>
<p>
    Ciao,
</p>
<br/>
<p>
    la tua richiesta di adesione al pacchetto <span th:text="${bundleName}" th:remove="tag"></span> è stata
    rifiutata.
</p>
<br/>
<p>
    Se riscontri dei problemi, puoi richiedere maggiori dettagli utilizzando il canale di <a
        href="https://selfcare.pagopa.it/assistenza">assistenza</a>.
</p>
<br/>
<p>
    A presto,
</p>
<p>
    Pagamenti pagoPA
</p>
<hr style="color:grey">
<p style="color:grey">
    Ricevi questo messaggio perchè hai un utenza attiva su Pagamenti pagoPA.
</p>

</body>
</html>