<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Ripristino IBAN disattivato</title>
</head>

<body>
<img width="100" height="30"
     src="https://raw.githubusercontent.com/pagopa/pagopa-selfcare-ms-backoffice-backend/main/src/main/resources/templates/logo-pagopa.png">
<h1> Ripristino IBAN disattivato </h1>
<p>
    Ciao,
</p>
<br/>
<p>
    l'Ente Creditore <span th:text="${ciName}" th:remove="tag"></span> ha ripristinato un IBAN <span th:text="${iban}" th:remove="tag"></span> precedentemente disattivato.
</p>
<br/>
<p>
    L'IBAN potrà essere utilizzato per gli accrediti, salvo ulteriori modifiche.
</p>
<br/>
<p>
    Puoi verificare la configurazione aggiornata <a
        href="@{https://selfcare{env}.platform.pagopa.it/ui/iban(env=${environment})}">
    <span th:if="${environment == ''}">https://selfcare.platform.pagopa.it/ui/iban</span>
    <span th:if="${environment == '.uat'}">https://selfcare.uat.platform.pagopa.it/ui/iban</span>
    <span th:if="${environment == '.dev'}">https://selfcare.dev.platform.pagopa.it/ui/iban</span>
</a>
</p>
<br/>
<p>
    A presto,
</p>
<p>
    Piattaforma pagoPA
</p>
<hr style="color:grey">
<p style="color:grey">
    Ricevi questo messaggio perchè hai un utenza attiva su Piattaforma pagoPA.
</p>
</body>
</html>